<div class="axis-page">
      <h1>{{ axisData?.title }}</h1>
      <p>{{ axisData?.intro }}</p>
  
    <section class="content">
        @if (axisData?.content) {
            @for (item of axisData.content; track item.text) {
              <div class="content-item">
                <img [src]="item.image" alt="Image de l'axe">
                <p>{{ item.text }}</p>
              </div>
            }
        }
    </section>
  
    <div class="footer">
        @if (axisId > 1) {
          <button (click)="goToAxis(axisId - 1)">Vers l'Axe {{ axisId - 1 }}</button>
        }
        @if (axisId < axes.length) {
          <button (click)="goToAxis(axisId + 1)">Vers l'Axe {{ axisId + 1 }}</button>
        }
      </div>
  </div>