<div class="container">
    <section class="problematique">
        <h1>Comment la pandémie de la COVID-19 a-t-elle impactée les collaborations scientifiques ?</h1>
    </section>

    <section class="kpiSection">
        <h2>Nos données</h2>
        <div class="kpiContainer">
            <div class="kpi" >KPI</div>
            <div class="kpi" >KPI</div>
            <div class="kpi" >KPI</div>
            <div class="kpi" >KPI</div>
            <div class="kpi" >KPI</div>
            <div class="kpi" >KPI</div>
            <div class="kpi" >KPI</div>
            <div class="kpi" >KPI</div>
        </div>
    </section>

    <section class="presentationSection">
        <div class="presentationContainer">
        <h2>Presentation du projet</h2>
        <p>
            La pandémie de COVID-19 a profondément influencé les mécanismes de collaboration scientifique.
            Ce projet vise à comprendre ces impacts à travers différentes analyses de données recueillies
            pendant cette période critique.
        </p>
        <a routerLink="/presentation">En savoir plus</a>
        </div>
    </section>

    <section class="axeSection">
        <h2>Axes d’analyse</h2>
        <div class="carouselContainer">
          <!-- Control Buttons Prev -->
          <button
          class="carouselPrev"
          type="button"
          (click)="navigateCarousel('prev')"
          >
          <span class="carouselPrev-icon" aria-hidden="true"></span>
          <span class="visuallyHidden">Previous</span>
          </button>
        
          <!-- Carrousel Content -->
          <div class="carouselInner" [style.transform]="getTransformStyle()">
            @for (axis of axes; track axis.title) {
              <div class="carouselItem">
                <img [src]="axis.image" class="carouselImg" [alt]="axis.title" />
                <div class="carouselText">
                  <h5>{{ axis.title }}</h5>
                  <p>{{ axis.description }}</p>
                </div>
              </div>
            }
          </div>
        
          <!-- Indicators (Bottom) -->
          <div class="carouselIndicators">
            @for (axis of axes; track axis.title) {
              <button
                type="button"
                [class.active]="axes.indexOf(axis) === currentIndex"
                (click)="navigateCarouselByIndex(axes.indexOf(axis))"
              ></button>
            }
          </div>
        
          <!-- Control Buttons Next -->
          <button
          class="carouselNext"
          type="button"
          (click)="navigateCarousel('next')"
          >
          <span class="carouselNext-icon" aria-hidden="true"></span>
          <span class="visuallyHidden">Next</span>
          </button>
        </div>
    </section>
</div>
