<div id="TeamPage">
    <h1 class="title">Les Equipes</h1>

    <div class="teamSection">
        <h2 class="teamTitle" id="visualisation">Equipe Visualisation</h2>
        <div class="teamDescription">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse suscipit nec nunc iaculis venenatis.
                In hac habitasse platea dictumst. Suspendisse quis dolor tristique, vehicula libero ac, gravida augue.
                Mauris placerat finibus dui a scelerisque. Phasellus pellentesque rutrum convallis. Sed id lacus in ante
                efficitur laoreet. Quisque commodo dolor at magna tempor, at maximus est rutrum. Integer faucibus enim
                fringilla, dignissim eros et, aliquam dui. Donec pharetra dolor non dolor condimentum, rhoncus mattis
                velit consequat.
            </p>
        </div>
    </div>

    <div class="teamSection">
        <h2 class="teamTitle" id="deploiment">Equipe Deploiment</h2>
        <div class="teamDescription">
            <p>Aliquam in purus et orci fringilla blandit sit amet ac enim. Mauris justo lectus, tempus nec vulputate
                ultrices, iaculis vel lectus. Sed et rutrum risus, ut suscipit metus. Aenean facilisis, enim ut interdum
                pharetra, quam velit ornare sapien, eu semper mi ipsum porttitor risus. Nam cursus et nunc non dapibus.
                Aliquam dapibus libero vel nunc eleifend, ac pharetra augue sollicitudin. Nulla ut felis sed sapien
                sagittis mattis. Nullam egestas ex leo, sit amet euismod felis malesuada blandit. Donec placerat pretium
                augue, a sodales ante tristique nec. Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada
                fames ac turpis egestas. Aenean pretium venenatis mi.
            </p>
        </div>
    </div>

    <div class="teamSection">
        <h2 class="teamTitle" id="extraction">Equipe Extraction</h2>
        <div class="teamDescription">
            <p>Pellentesque quis lacus vitae sem eleifend hendrerit vel nec lectus. Nulla tincidunt sapien ut dui
                gravida, ut vehicula eros luctus. In hac habitasse platea dictumst. Maecenas blandit pretium eros, quis
                pretium nunc viverra sit amet. Nulla molestie molestie metus. Nullam eleifend, velit a ultrices dictum,
                dolor orci varius eros, gravida viverra risus orci vel quam. Quisque interdum tincidunt lectus, et
                ornare massa varius eget. Quisque pellentesque ligula et varius faucibus. Vestibulum vel luctus lacus.
                In bibendum, lacus at sollicitudin fringilla, augue ante dictum est, quis ultricies metus leo blandit
                augue. Vestibulum viverra erat ut purus ornare, sed sagittis sapien pellentesque. Duis et faucibus
                tellus.
            </p>
        </div>
    </div>
</div>