<div id="topDiv"></div>
<div id="TeamPage" class="page-content">
    <h1 class="title">Les Equipes</h1>

    <div class="teamSection">
        <h2 class="teamTitle" id="visualisation">Equipe Visualisation</h2>
        <div class="teamDescription">
            <p>L'équipe visualisation est composée de 3 membres, tout comme les autres équipes. Les membres sont Lucas, Baptiste et Gaspard, qui est aussi le responsable du groupe. Comme le nom du groupe l’indique, leur rôle à été de permettre la visualisation du projet, notamment à travers ce site web qu’ils ont réalisé de a à Z, pour cela réfléchir à l’architecture du site à été important pour eux. Pour cela, ils ont analysé les données afin de détecter des tendances et de trouver des visualisations interactives pertinentes. Ils ont également étroitement travaillé avec l’équipe d’extraction pour garantir des données fiables, ainsi qu’une bonne compatibilité des données afin de faciliter leur implémentation dans le site.
            </p>
            
            
        </div>
    </div>

    <div class="teamSection">
        <h2 class="teamTitle" id="deploiement">Equipe Modélisation</h2>
        <div class="teamDescription">
            <p>Composée de Marielle, Kylian et Amélia, l’équipe de modélisation à produit, sous la responsabilité d’Amélia, les modèles conceptuels et relationnels pour notre base de données. Leur rôle à été d’analyser le DBLP en profondeur, en faire une documentation technique approfondie afin de permettre aux autres équipes de bien comprendre le jeu de données avec lequel nous avons tous travaillés ainsi que de définir les éléments pertinents ou non afin de permettre une extraction optimale.
            </p>
            
            
        </div>
    </div>

    <div class="teamSection">
        <h2 class="teamTitle" id="extraction">Equipe Extraction</h2>
        <div class="teamDescription">
            <p>Avec Ayoub comme responsable et Matthias et Adrien comme membres, l’équipe d'extraction a eu la responsabilité de l’extraction de la base DBLP et de son implémentation dans une base SQL. Ils se sont occupés du script de récupération des données utilisé pour l’analyse, ainsi que de compléter la base avec des données externes afin de permettre des analyses plus approfondies. Leur rôle était aussi de nettoyer et rendre les données le plus exploitables possible et de rester disponible pour les autres équipes afin de garantir la disponibilité des données.
            </p>
        </div>
    </div>
</div>