
<div class="piechart-container">
  @if (route != 'author_by_country'){
    <select (change)="onPeriodChange()" [(ngModel)]="selectedPeriod">
      @for (period of Object.keys(periods); track period) {
        <option [value]="period">{{ period }}</option>
      }
    </select>
  }

  @if(option){
    <ngx-charts-pie-chart
      [legendTitle]="legendTitle"
      [view]="view"
      [results]="chartData"
      [legend]="true"
      [explodeSlices]="false"
      [labels]="true"
      [tooltipText]="tooltipText"
      (activate)="onSliceHover($event)"
      (deactivate)="onSliceHover(null)">
    </ngx-charts-pie-chart>


  } @else {
    <ngx-charts-pie-chart
      [results]="chartData"
      [labels]="true"
      [legend]="true"
      [view]="view"
      legendTitle="Top des Collaborateurs par période"
      [tooltipDisabled]="false">

    </ngx-charts-pie-chart>

  }


</div>
