.piechart-container{
  text-align: center;

}

::ng-deep .ngx-charts-outer {
  width: 100% !important;
}

::ng-deep .legend-labels {
  width: calc(100% + 10px) !important;
}

::ng-deep .legend-label-text {
  white-space: normal !important;
  width: 100% !important;
}


.tooltip-container {
  position: absolute;
  pointer-events: none;
}

.custom-tooltip {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  z-index: 1000;
  transform: translate(-50%, -100%);
}

