

<div class="piechart-container">
  @if (route == 'top_collab'){
  <select (change)="onPeriodChange()" [(ngModel)]="selectedPeriod">
    @for (period of Object.keys(periods); track period) {
      <option [value]="period">{{ period }}</option>
    }
  </select>
  }
  <div class="chart-wrapper">
    <ngx-charts-bar-vertical
      [results]="chartData"
      [view]="view"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [legendTitle]="legendTitle"
      [showXAxisLabel] = 'true'
      [showYAxisLabel] = 'true'
      [xAxisLabel]="XLegend"
      [yAxisLabel]="YLegend"
      [customColors]="countryColors"
    [showYAxisLabel]="true"
    [showXAxisLabel]="true">
    </ngx-charts-bar-vertical>
  </div>
</div>
