<!--
    - les fragments servent à indiquer une balise HTML par son id (qui est présente sur la nouvelle page) -> permet scroll auto 
    (voir app.component.ts)

    TODO
    - faire route vers RGPD
    - rajouter fragment visualisation ?
-->
<footer>
    <div id="footerTitle">
        <p>Pantone 448 C</p>
    </div>
    <div class="footerSections">
        <div class="footerColumn">
        <h3>Pages</h3>
        <ul>
            <li><a routerLink="/analyses">Nos Analyses</a></li>
            <li><a routerLink="/presentation">Présentation</a></li>
            <li><a routerLink="/recherche">Recherche</a></li>
            <li><a routerLink="/dynamique">Pour aller plus loin</a></li>
        </ul>
        </div>
        <div class="footerColumn">
        <h3>L'équipe</h3>
        <ul>
            <li><a routerLink="/team">Equipe Visualisation</a></li>
            <li><a routerLink="/team" fragment="deploiement">Equipe Deploiement</a></li>
            <li><a routerLink="/team" fragment="extraction">Equipe Extraction</a></li>
        </ul>
        </div>
        <div class="footerColumn">
        <h3>Mentions légales</h3>
        <ul>
            <li><a routerLink="/">RGPD</a></li>
        </ul>
        </div>
    </div>
</footer>
