<div class="axis-page">
    <section class="title-section">
        <div class="title-container">
            <h1>Analyse des collaborations par pays</h1>
        </div>
    </section>

    <div class="content">
        <div class="content-item">
            <div class="chart-box">
                <app-word-cloud></app-word-cloud>
            </div>
        </div>
        <div class="content-item">
            <div class="chart-box">
                <app-word-chart ></app-word-chart>
            </div>
        </div>
    </div>
</div>
