
.word-cloud-container {
  height: 450px;
  text-align: center;
  border: #333333;
  border-style: solid;
  margin: 15px;


}
.word-container {

  text-align: center;
}

.slider-bloc {
  text-align: center;
}



