<!--
    - routerLinkActive="active-link" : la balise prendra la classe active-link quand l'utilisateur est sur la route
        spécifiée dans routerLink -> MARCHE SUR TOUTES LES BALISES (div, etc...)
    - logo clickable qui redirige vers page home (a faire en angular) -> selon modèle prof utilisation d'un href

    TODO :
    - taille logo a ajuster dans css
    - header constamment sur ecran ? ou burger menu ?
    - quand on aura tout les axes : les mettres à jour ici
-->
<header id="main-header" [class.hidden]="isHidden">
    <nav>
      <a routerLink="/" routerLinkActive="active-link">Accueil</a>
      <a routerLink="/presentation" routerLinkActive="active-link">Présentation</a>
        <div class="dropdown-trigger" (mouseenter)="toggleDropdown()" (mouseleave)="toggleDropdown()">
            <a>Nos Analyses</a>
            <ul class="dropdown-menu" [class.open]="isDropdownOpen" (mouseenter)="toggleDropdown()" (mouseleave)="toggleDropdown()">
                <li><a routerLink="/analyses/1" routerLinkActive="active-link">Tendances Générales</a></li>
                <li><a routerLink="/analyses/2" routerLinkActive="active-link">Collaboration</a></li>
                <li><a routerLink="/analyses/3" routerLinkActive="active-link">Thématiques</a></li>
            </ul>
        </div>
      <a routerLink="/recherche" routerLinkActive="active-link">Recherche</a>
      <a routerLink="/loin" routerLinkActive="active-link">Pour aller plus loin</a>
    </nav>
  </header>
