
/*.active-link {
    
}*/

header {
    /*position: fixed;
    top: 0; 
    left: 0;
    width: 100%;*/ /*à dé-commenter si header constamment sur ecran voulu*/

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* pour effet d'ombre */
    width: auto;
    height: 10vh;
}
  
#logoDiv {
    display: flex;
    align-items: center;
    flex: 0 0 auto; /* Le logo conserve sa taille initiale */
}
  
#logoImage {
    width: 100px; 
    height: 100px;
    object-fit: cover;
}
  
nav {
    display: flex;
    gap: 20px; /* espacement entre les liens */
    flex: 1; /* prend tout l'espace disponible */
    justify-content: space-evenly; /* espacement égale entre les liens */
}
  
nav > a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
    text-align: center; /* Centre le texte dans chaque lien */
}

nav > a:hover {
    color: grey;
}