/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F4F4F4;
    color: #2C2A26;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.project-container {
    animation: fadeIn 1s ease-in-out;
    max-width: 1200px;
    margin-top: 5%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title */
.page-title {
    color: #4a412a;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Description Section */
.project-description p {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

/* Highlights Section */
.project-highlights {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
}

.highlight {
    background-color: #EFEFEF;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.highlight:hover {
    transform: translateY(-5px);
}

.highlight-icon {
    font-size: 2rem;
    color: #4a412a;
    margin-bottom: 10px;
}

.highlight h3 {
    margin-bottom: 10px;
    color: #4a412a;
}

/* Download Section */
.download-section {
    text-align: center;
    margin-top: 40px;
}

.download-link {
    text-decoration: none;
    background-color: #4a412a;
    color: #FFFFFF;
    padding: 15px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.download-link:hover {
    background-color: #4a412a55;
    color: #4a412a;
}

.project-description {
    border-left: 5px solid #2C2A26;
    background-color: #F7F7F7;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
    font-size: 1.1rem;
    color: #2C2A26;
}

ul li i {
    color: #2C2A26;
    margin-right: 10px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.highlight:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.quote {
    font-size: 1.5rem;
    font-style: italic;
    color: #2C2A26;
    border-left: 4px solid #141413;
    padding-left: 15px;
    margin: 30px;
}
