<div id="PresentationPage" class="page-content">
    <h1 class="title">Le Projet</h1>

    <div class="PresentationDescription">
        <p>La collaboration est au cœur de l’innovation scientifique, et l’évolution de ces dynamiques peut offrir des
            perspectives fascinantes sur la manière dont la recherche se transforme au fil du temps. La pandémie de
            COVID-19 a bouleversé les modes de travail traditionnels, apportant son lot de défis et de transformations.
            Cette crise mondiale a soulevé de nouvelles questions sur la manière dont les chercheurs interagissent,
            collaborent et innovent dans un contexte en constante mutation. Ce projet s’inscrit dans un processus
            d’exploration visant à répondre à la question suivante : comment la pandémie de COVID-19 a-t-elle impacté
            les collaborations de recherche ?
        </p>
        <p> Loin de chercher à démontrer une hypothèse préétablie, l’objectif est d’examiner les données et de découvrir
            à travers une analyse ouverte, les changements survenus dans les réseaux de collaboration avant et après la
            crise sanitaire.
            Pour ce faire, nous utiliserons DBLP (Digital Bibliography and Library Project), une base de
            de données bibliographiques dans le domaine de l’informatique, qui recense plus de 7 millions de
            publications scientifiques et plus de trois millions d’auteurs. Créée dans les années 1980 par l’Université
            de Trèves en Allemagne, DBLP existe depuis plus de 30 ans et s’est imposée comme
            une ressource clé pour l’analyse des collaborations scientifiques. Grâce à la richesse de ses métadonnées,
            cette base de données nous permettra de suivre l’évolution des collaborations, d’explorer les
            transformations dans la fréquence des interactions, la géographie des partenariats, ainsi que l’émergence de
            nouvelles pratiques collaboratives. L’objectif principal de ce projet est de modéliser et de visualiser les
            évolutions des collaborations scientifiques pendant cette période de transition. En exploitant les données
            de DBLP, nous examinerons les changements dans la fréquence des collaborations, la géographie des
            partenariats et l’émergence de nouvelles pratiques collaboratives. La modélisation des réseaux de recherche,
            accompagnée de visualisations interactives, permettra de dresser un panorama des effets de la crise
            sanitaire sur la coopération scientifique, tout en offrant des perspectives sur les tendances futures de la
            recherche académique.
        </p>

        <p>La modélisation des réseaux, enrichie de visualisations interactives, nous offrira une vue d’ensemble des
            impacts de la crise sur les pratiques collaboratives. Toutefois, il ne s’agit pas de prouver un résultat
            précis, mais plutôt d’ouvrir un champ d’investigation, d’identifier les tendances émergentes et de poser des
            questions dont les réponses se dessinent au fur et à mesure de l’analyse des données. Cette approche
            permettra non seulement de mieux comprendre les dynamiques actuelles de la recherche, mais aussi d’anticiper
            les évolutions possibles de la collaboration scientifique dans les années à venir.
        </p>
    </div>

  <a download="Rapport" href="assets/BUT_INFO_S5_SAE_BD_Pantone448C_Rapport_de_projet-5.pdf">Rapport du projet</a>

</div>
