
.title { 
    text-align: center;
    font-size: 2.5rem; 
    font-weight: bold; 
    margin-bottom: 40px; 
    background-color:orangered;
    border-radius: 8px;
    padding: 10px; 
    font-weight: bold;
}
  
.legalSection { 
    background-color: #e0e0e0; 
    padding: 20px; 
    margin: 0 auto; 
    width: 80%; 
    border-radius: 8px; 
    color: #000; 
    margin-bottom: 40px; 
}
  
.legalTitle { 
    margin-left: 135px;
    text-decoration: underline;
    font-size: 20px; 
    font-weight: bold; 
    margin-bottom: 20px; 
}
  
.legalDescription { 
    margin-left: 135px; 
    width: 80%; 
    border-radius: 8px; 
    font-size: 1rem; 
    text-align: left; 
    color: #000; 
}