<div id="LegalPage" class="page-content">
    <h1 class="title">Mentions Légales</h1>

    
    <div class="legalSection">
        <h2 class="legalTitle" id="Proprio">Propriétaires</h2>
        <div class="legalDescription">
            <p>Nom du projet : Pantone 448C</p>
            <p>Responsable de l'équipe: Yasmine Ben Youssef</p>
            <p>Responsable Académique : Mario Cataldi</p>
            <p>Université Affiliée : IUT de Montreuil, 42 rue de la nouvelle france, 93100 MONTREUIL</p>
            <p>E-mail de contact: ybenyoussef&#64;iut.univ-paris8.fr</p>
        </div>
    </div>
    <div class="legalSection">
        <h2 class="legalTitle" id="Responsabilite">Responsabilités</h2>
        <div class="legalDescription">
            <p>Les informations fournies sur ce site sont à titre informatif. Nous ne garantissons pas leur exactitude et ne saurons être tenus responsables en cas d’erreurs ou d’omissions.
            </p>
            <p>Ce site ne collecte aucune donnée personnelle. Aucun cookie n’est utilisé à des fins de suivi ou de publicité.
            </p>
        </div>
    </div>
    <div class="legalSection">
        <h2 class="legalTitle" id="RGPD">RGPD</h2>
        <div class="legalDescription">
            <p>Nous respectons le RGPD.
            </p>
        </div>
    </div>

</div>
