<div class="axis-page">

  <div class="content">

    <div class="content-item">
      <div class="chart-box">
        <app-linechart-color [route]="'pub_in_time'" [XLegend]="'Années'" [YLegend]="'Publications scientifiques'"></app-linechart-color>
      </div>
      <div class="text">
        <p>Explications des graphiques combinés.</p>
      </div>
    </div>

    <div class="content-item">
      <div class="chart-box">
        <app-groupedbar-chart-custom [route]="'collab_seules_vs_collab'"></app-groupedbar-chart-custom>
        <p>Petit texte expliquant ce graphique</p>
      </div>
    </div>

    <div class="content-item">
      <div class="chart-box">
        <app-linechart-custom [route]="'categ_in_time'" [XLegend]="'Années'" [YLegend]="'Nombre de publications'"></app-linechart-custom>
        <p>Petit texte expliquant ce graphique</p>
      </div>
    </div>

    <div class="content-item">
      <div class="chart-box">
        <app-piechart-custom [route]="'author_by_country'" [option]="true" [period]="'avant'" [legendTitle]="'Nombre d\'auteurs par pays'"></app-piechart-custom>
        <p>Petit texte expliquant ce graphique</p>
      </div>
    </div>

    <div class="content-item">
      <div class="chart-box">
        <app-barchart-custom [route]="'univ_by_publi'" [color]="true" [XLegend]="'Universités'" [YLegend]="'Nombre de Publications'" [legendTitle]="'Universités'"></app-barchart-custom>
        <p>Petit texte expliquant ce graphique</p>
      </div>
    </div>

  </div>
</div>
