/* Ajout de styles spécifiques pour les sections explicatives */
.graph-explain {
  text-align: justify;
  font-size: 16px;
  line-height: 1.8;
  color: #333;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 95%;
  display: flex;
  flex-direction: column;
}

/* Titre pour les graphiques */
.graph-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #2c2a26;
  margin-bottom: 15px;
  text-align: center;
}

/* Liste des phases avec styles améliorés */
.graph-phases {
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
}

.graph-phases li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

.graph-phases li::before {
  content: '•';
  position: absolute;
  left: 0;
  font-size: 20px;
  color: #2c2a26;
  line-height: 1;
}

/* Adaptation pour le conteneur général */
.content-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  margin: 3%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.content-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.graph{
  display: flex;
  flex-direction: column;
  align-items: center;
   width: 100%;
 }