<div class="kpi-bloc">
  <h2>Indicateurs clés</h2>
  <div class="kpi-container">
    <ngx-charts-number-card (select)="onKpiSelect($event)"
      [view]="[1000, 400]"
      [results]="result"
      [animations]="true"
      [cardColor]="cardColor"
      [bandColor]="cardColor"
      [valueFormatting]="formatValue"
      >
    </ngx-charts-number-card >
  </div>

  <div
    class="modal"
    [class.show]="isModalOpen"
    (click)="closeKpiModal()"
  >
    <div
      class="modal-content"
      (click)="stopPropagation($event)"
    >
      <span class="close" (click)="closeKpiModal()">&times;</span>
      <h2>{{ selectedKpi?.name }}</h2>
      <p>{{ selectedKpi?.info }}</p>
    </div>
  </div>

</div>
