<div class="kpi-bloc">
  <h2>Statistiques</h2>
  <div class="kpi-container">
    <div class="kpi-card" *ngFor="let kpi of result" (click)="onKpiSelect(kpi)">
      <div class="kpi-value">{{ kpi.displayValue | number }}</div>
      <div class="kpi-label">{{ kpi.name }}</div>
    </div>
  </div>
</div>

<div
  class="modal"
  [class.show]="isModalOpen"
  (click)="closeKpiModal()"
>
  <div
    class="modal-content"
    (click)="stopPropagation($event)"
    *ngIf="selectedKpi"
  >
    <span class="close" (click)="closeKpiModal()">&times;</span>
    <h2>{{ selectedKpi.name }}</h2>
    <p>{{ selectedKpi.info }}</p>
  </div>
</div>
