::ng-deep .ngx-charts-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100% !important;
}

::ng-deep .legend-labels {
  width: calc(100% + 10px) !important;
}

::ng-deep .legend-label-text {
  white-space: normal !important;
  width: 100% !important;
}

