.piechart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.piechart-container > div {
  margin-bottom: 20px;
}

.piechart-container select {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 10px;
}

.graph-info {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.graph-info p {
  margin: 0 10px;
}

.graph-container {
  width: 100%;
  max-width: 800px;
  height: 500px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
}
