<div class="piechart-container">

  <div>
    <span>Noeud</span>
    <select (change)="onNodeChange()" [(ngModel)]="selectedNodes">
      @for (node of getFilteredNodes(); track node) {
        <option [value]="node">{{ node }}</option>
      }
    </select>
    <span>Période</span>
    <select (change)="onPeriodChange()" [(ngModel)]="selectedPeriod">
      @for (period of getFilteredPeriods(); track period) {
        <option [value]="period">{{ period }}</option>
      }
    </select>
  </div>

  <div class="graph-info">
    <p>Nombre de noeuds: {{ totalNodes }}</p>
    <p>Noeuds isolés: {{ isolatedNodes }}</p>
    <p>Nombre de lien: {{ totalLinks }}</p>
  </div>

  

  <div class="graph-container" id="graph-container"></div>

</div>
